[2022-07-15 18:20] estemendoza opened #307 "[Question]"
# ❔ Question

Is it normal that when installing Paladin Cloud, the installer creates 7 m4.large instances?

## 🔦 Context

I successfully installed Paladin Cloud, then I checked my EC2 instances and then I saw 7 new instances. Those are very expensive instances and I couldn't find any details about it in the Installation notes

[2022-07-15 19:30] Steve-Hull commented on #307
Can you share the Instance names?  Normal operations is 2 steady state instances + transient instances during batch processing. I think those m4.large are transient to support batch scanning.

I will make sure the installation docs get updated so everyone has a clear understanding of compute footprint.

[2022-07-15 21:00] Steve-Hull commented on #307
Happy to help, thanks for installing.  I mis-spoke above, apologies, the 2 steady state are for testing purposes, not PaladinCloud execution.  We use Fargate for containers and Lambda so no EC2 required.  We also use Batch which dynamically creates and destroys EC2 as needed, the quantity and size depends on the number and size of the jobs which depends on the size of your cloud,  In our demo envi

[2022-07-17 17:46] Steve-Hull commented on #307
[wiki Installation ](https://github.com/PaladinCloud/CE/wiki/Installation) has been updated to call out the dynamic allocation of EC2 while using Batch.  Thanks for pointing out this issues @estemendoza

[2022-07-17 17:46] #307 closed

[2022-07-18 22:20] Steve-Hull commented on #307
- How does Paladin do the calculation for how many EC2 instances and type is going to create?  We can only recommend a count and type to the Batch service.  our recommendation is 4, m4.Large.  The service then adjusts count/type as it learns more about execution.

- are instances executed for 6 hours straight, is that the max time for being on or it depends on what they have to process?  Yes, it d

[2022-07-20 14:26] estemendoza commented on #307
Thanks for your reply, I think we are good for now, we will give it a try for a few days and will check how many resources are created

[2022-07-20 14:33] estemendoza opened #317 "[BUG] Can't login in the app with default credentials"
## Microservices
- Spring boot Applications:
 - Auth Service

## Summary
Can't login in the app

## Reproduce steps
- Install Paladin following installation instructions
- Try to login with default creds

## Expected Results
- Should be able to login in the app
- If there is a 503 error, the error message on the UI should say something like "Network error when trying to login"

## Actual Results
G

[2022-07-21 05:16] santhosh-challa commented on #317
Hi @estemendoza,

Can you please confirm if you are using the internal load balancer or not? By default, Paladin uses an internal load balancer and the service is accessible only inside of VPC.

[2022-07-21 15:46] estemendoza commented on #317
Hi @santhosh-challa

Cluster seems to be working fine:
<img width="1224" alt="Screenshot 2022-07-21 at 17 40 34" src="https://user-images.githubusercontent.com/545757/180255324-298cbd93-8e43-4e1f-a3a9-5ad1a171dc99.png">

And these are the last lines on cloud watch logs for auth api:
<img width="1555" alt="Screenshot 2022-07-21 at 17 44 27" src="https://user-images.githubusercontent.com/545757/1802

[2022-07-21 16:19] santhosh-challa commented on #317
Thanks for the info. It seems the config service is not running. We can see the running task count is zero and auth is unable to reach the config API. All the APIs need to connect to the config service.

Can you please check the cloudwatch logs for config service and see if there are any errors?

[2022-07-21 17:03] estemendoza commented on #317
I found this for latest messages on the config service logs:

<img width="1565" alt="Screenshot 2022-07-21 at 18 58 55" src="https://user-images.githubusercontent.com/545757/180271317-88dfb462-5c3d-4d06-a1b5-5d49de36999e.png">

[2022-07-22 08:33] santhosh-challa commented on #317
This seems to be some dependency issue for the config service. We are not seeing this error internally.

Can you please try to redeploy once and see if we can get past this?

[2022-07-22 18:26] estemendoza commented on #317
Hi

I run the redeploy script but I am still getting error, the paladin cloud-config keeps failing with same error

[2022-07-22 18:57] estemendoza commented on #317
By the way, also having this issue on install or redeploy:

[code]

[2022-07-24 13:47] santhosh-challa commented on #317
Can you please zip and uoload the logs directory under install?

That might give us some clue.

[2022-07-25 15:33] estemendoza commented on #317
Here are the logs: [installer_logs.zip](https://github.com/PaladinCloud/CE/files/9182630/installer_logs.zip)

[2022-07-26 13:10] santhosh-challa commented on #317
Hi @estemendoza ,

Thank you for the logs. We could not see any errors that are related to the config API issue.

We saw that you are using python 3.9, we tried to redeploy the app on the same version. We are using Python 3.7.x internally.
Though we could see the same error on the console as you posted before (thread error related to isAlive), the app is installed successfully and we could not rep

[2022-07-26 13:43] estemendoza commented on #317
Ok, you can download the file here: https://dl.meecles.net/config.jar

[2022-07-26 14:38] santhosh-challa commented on #317
I do not see any issues with the jar.

I can run your jar in terminal and I do not see the error. Can you please try running the jar as below in a terminal:

java -jar config.jar

And let us know if you can see the same error or not?

Thank you.

[2022-07-28 15:06] estemendoza commented on #317
Hi. Here is the log for that command:

[code]

[2022-07-28 15:11] santhosh-challa commented on #317
Thanks for the log.

As we can see:
`022-07-28 15:00:49.361  INFO 8969 --- [           main] c.t.pacman.config.ConfigApplication      : Started ConfigApplication in 13.421 seconds (JVM running for 14.921)`

Config API started without any error.

Can you please restart the ECS task for config service and see if it is able to start?
Please share the latest log if you see any errors.

Thanks.

[2022-07-28 15:15] estemendoza commented on #317
No problem, what's the proper way of restarting that task? I have't work with ECS for a while

[2022-07-28 15:24] santhosh-challa commented on #317
You can follow the below steps:

1. Navigate to ECS
2. Select the Pladincloud cluster
3. Click on the Tasks
4. Select the paladincloud-config task
5. click on the stop

As this is a FARGATE, ECS automatically starts the task again.

![image](https://user-images.githubusercontent.com/72746503/181576124-95a6f377-3700-408e-81d7-4b3b2c320624.png)

Also Please share the cluster screenshot once, just wa

[2022-07-28 15:34] estemendoza commented on #317
This is the status after restarting the task, I waited for a bit, but the task keeps failing
<img width="1588" alt="Screenshot 2022-07-28 at 17 32 55" src="https://user-images.githubusercontent.com/545757/181578228-9b5dbde6-b49b-403f-a0c1-f02edbffc216.png">

[2022-07-28 15:36] santhosh-challa commented on #317
Can you also share the latest log for it?

[2022-07-28 15:38] estemendoza commented on #317
it's basically the same error as before
<img width="1557" alt="Screenshot 2022-07-28 at 17 37 25" src="https://user-images.githubusercontent.com/545757/181579155-63eaab57-9b98-46e3-8540-001f93b94893.png">

[2022-07-28 15:39] santhosh-challa commented on #317
can you get the full log, from the start?

[2022-07-28 15:41] estemendoza commented on #317
There is not much of it
<img width="1567" alt="Screenshot 2022-07-28 at 17 40 30" src="https://user-images.githubusercontent.com/545757/181579946-21611d1d-bed1-41f4-91a1-d28dee037d9f.png">

[2022-07-28 15:43] santhosh-challa commented on #317
I will try to compare it with the internal log and see if there is anything different. Not sure why the same jar is not able to start inside the container.

[2022-08-01 15:40] Steve-Hull commented on #317
did we resolve this issue?

[2022-08-01 17:26] santhosh-challa commented on #317
Hi @estemendoza,

Sorry for the delay. I compared your log with the internal log and couldn't find anything interesting.

The error seems coming due to missing of hybetnate validator jar file and the same is in the config jar. We couldn't reproduce the same.

Can you please destroy and install the Paladin Cloud once and see if we can get past this issue?

Thanks

[2022-08-01 17:29] estemendoza commented on #317
Hi @santhosh-challa,

I can try it again, no problem. Question, I am running the installer from an ubuntu instance, I think I didn't specify it before, but I mention it just in case, could this affect the installer somehow?

[2022-08-02 00:45] santhosh-challa commented on #317
Not sure, we will try that once. Can you try with Amazon Linux this time andet us known the results.

[2022-08-03 08:22] estemendoza commented on #317
Hi @santhosh-challa

Why is it recommended to use a t2.large instance type for the installer?

[2022-08-03 09:06] santhosh-challa commented on #317
Hi @estemendoza,

Yes, t2.large is recommended. Also, we had a release happened yesterday. Please check and start the installation from the latest release.

Please let us know in case of any further information is needed.

Thanks,
Santhosh

[2022-08-03 09:28] estemendoza commented on #317
I have executed the installer again using Amazon Linux image and using the same auth creds than before getting this error:

[code]

[2022-08-03 09:36] santhosh-challa commented on #317
Can you start the docker service and retry? Maybe it is not running.

`systemctl docker start`

[2022-08-03 10:21] estemendoza commented on #317
Yeah, the docker service was dead, `sudo systemctl start docker` fixed the issue, now the installer is running fine, will reply with results.

In the meantime, you should double check how the installer checks that docker is installed and running because even though the docker service was not running, the installer says that docker was found correctly.

[2022-08-03 10:52] santhosh-challa commented on #317
Thanks for the feedback. I am thinking it is checking the availability of Docker in step#1. It is not checking the running state may be. We will check that.

Please post the results.

[2022-08-03 12:23] estemendoza commented on #317
My ssh connection died in the middle of the installer and it failed. When I try to destroy it to install it again, I get this error:

[code]

If I try to install again, I get this:

[code]

What can I do to clean up the resources and install again?

[2022-08-03 12:34] santhosh-challa commented on #317
We have pointed out the faqs in the readme as a troubleshooting step. FYI, https://github.com/PaladinCloud/CE/wiki/Installation-FAQs

Can you please run the redeploy and see if it is successful? You can run the commands in the background to avoid connection timeouts.

Please let us know in case you need any further help.

Thanks.

[2022-08-03 12:41] estemendoza commented on #317
Getting this for redeploy:

[code]

[2022-08-04 16:01] santhosh-challa commented on #317
Can you please upload the logs from the installer/log directory?

[2022-08-05 13:29] estemendoza commented on #317
Sure, here they are: [logs.zip](https://github.com/PaladinCloud/CE/files/9269001/logs.zip)

[2022-08-08 06:21] SecTheBit opened #345 "[Question]"
# ❔ Question

1. How many instances are going to be created while installing paladin?
2. I see paladin requires two subnets in local.py file . Why two of the subnets are required, because I am installing and deploying the paladin in the same subnet where my environment is.

[2022-08-08 15:57] santhosh-challa commented on #345
Hi @SecTheBit ,

Can you please clarify Q1?
Q2, AWS recommends using two subnets for some of the services Paladin uses. For e.g Load Balancer.

Please let us know in case of any other concerns.

[2022-08-08 16:01] santhosh-challa commented on #317
Hi @estemendoza ,

Found below error on maven build log:

`Failed to execute goal on project gcp-discovery: Could not resolve dependencies for project com.paladincloud:gcp-discovery:jar:0.0.1-SNAPSHOT: The following artifacts could not be resolved: io.grpc:grpc-netty-shaded:jar:1.44.1, io.grpc:grpc-xds:jar:1.47.0, io.opencensus:opencensus-proto:jar:0.2.0, com.google.api:gax:jar:2.12.2: Could not t

[2022-08-08 16:18] estemendoza commented on #317
Yes, I saw that and fixed the issue before, but I tried again the redeploy command and still getting that same error as before

[2022-08-08 17:19] SecTheBit commented on #345
Hi @santhosh-challa ,

In Q1 , I am asking about the total number of ec2 instances that will be created after installing paladin. In Issue #307 , It has been said that *We also use Batch which dynamically creates and destroys EC2 as needed, the quantity and size depends on the number and size of the jobs which depends on the size of your cloud, In our demo environment running PaladinCloud and some

[2022-08-09 04:25] santhosh-challa commented on #317
Can you please confirm the free space on the instance once? What is the size you are using for installation machine?

[2022-08-10 06:28] lakspp commented on #345
@SecTheBit
There will be a minimum of 4 ec2 instances created. However, based on jobs running in batch the number of instances might increase. These instances will be destroyed once the jobs are empty.

[2022-08-11 05:06] rjvkumar18 opened #352 "How to upgrade the nginx version from 1.14.0 to a higher version ?"
# ❔ Question

How to upgrade the nginx version from 1.14.0 to a higher version once Paladin app is installed?
Is there a command supported by Paladin?

## 🔦 Context
We are getting the below Vulnerability issue due to the nginx version.

"According to its Server response header, the installed version of nginx is 1.9.5 prior to
1.16.1 or 1.17.x prior to 1.17.3. It is, therefore, affected by multiple

[2022-08-11 05:25] lakspp commented on #317
@estemendoza can you try to install the latest release of Paladin Cloud release 1.1.0 and check if the issue persists?

[2022-08-11 05:31] lakspp commented on #352
@rjvkumar18 currently there is no command to upgrade the version. We have planned to upgrade the ngnix version in our future releases.

[2022-08-11 05:55] rjvkumar18 commented on #352
@lakspp thanks for the update.
Could you please provide us work around for this issue if you have any.
Can I change the nginx version in the dockerfile and do a fresh installation of Paladin ?

[2022-08-11 08:25] estemendoza commented on #317
@lakspp sure, no problem, do I need to run a "destroy" command or "install" directly? Because there are still a lot of resources created from the previous installation attempt

[2022-08-12 04:54] lakspp commented on #317
yes, do destroy and install again.

[2022-08-12 09:11] santhosh-challa commented on #352
@rjvkumar18 Sure, you can update the docker file and try redeploy command. We have not tested this yet.
We will update the version in the coming releases.

[2022-08-12 09:13] santhosh-challa commented on #345
closing this ticket, please open it in case of any further questions.

[2022-08-12 09:13] #345 closed

[2022-08-12 10:46] rjvkumar18 commented on #352
Thanks @santhosh-challa.

[2022-08-12 13:35] estemendoza commented on #317
@lakspp I am getting this error now with destroy:

[code]

Do I need to run "terraform init"?

[2022-08-12 17:24] santhosh-challa commented on #317
@estemendoza,

Can you please confirm if you are you running the destroy command from the same machine used for installation?

Thanks.

[2022-08-12 17:42] estemendoza commented on #317
Yes, I can confirm that, but what can I try to solve this? maybe running provision.sh script again to make sure?

[2022-08-16 15:35] rjvkumar18 opened #361 "404 Client Error: Not Found ("b'{"message":"No such image: **********.dkr.ecr.us-west-1.amazonaws.com/paladincloud-microservices:latest"}'")"
404 Client Error: Not Found

We are getting the below error while installing Paladin app. Could you please help on this.

1 error occurred:
        * null_resource.pacbot_app_ecr_APIDockerImageBuild: Error running command '/opt/CE-1.0.1/installer/data/terraform/scripts_and_files/scripts/create_docker_image_and_push_to_ecr.py': exit status 1. Output: Traceback (most recent call last):
  File "/usr/

[2022-08-16 16:05] santhosh-challa commented on #317
Hi,

Can you share the screenshot of terrafirm directory?

[2022-08-16 16:06] #352 closed

[2022-08-16 16:19] estemendoza commented on #317
your mean `installer/data/terraform`? it's empty

[code]

but for `installer/core/terraform` is the following:

[code]

[2022-08-16 16:25] santhosh-challa commented on #317
data/terraform should have the data incase of installation is done on the same machine.

If there is PaladinCloud installation running, you can get the terraform backup from Paladin s3 bucket. Can you please copy the terraform files from the s3 bucket to installer/data directory and try destroy once?

[2022-08-16 18:01] estemendoza commented on #317
I tried to get the backup from S3 but I couldn't find it, here is the data inside paladin root folder on s3:
<img width="771" alt="Screenshot 2022-08-16 at 18 41 22" src="https://user-images.githubusercontent.com/545757/184933334-124eb96c-a322-46d5-bb09-2e2b0d2bee51.png">
and inside paladin cloud folder:
<img width="686" alt="Screenshot 2022-08-16 at 18 41 41" src="https://user-images.githubuserco

[2022-08-17 04:50] santhosh-challa commented on #317
Hi @estemendoza ,

We are in the process of updating the documentation for the redeploy process. As you pointed out, the state files are needed for running the redeploy from a newer version. We will update the same in the documentation clearly.

As you are trying to destroy the Paladin Cloud, can you try running the destroy from 1.0.2?
Also, please let us know if you read the release notes for 1.1

[2022-08-17 05:31] santhosh-challa commented on #361
Hi @rjvkumar18 ,

Can you please zip and share the install/log directory contents?
Also, can you please confirm if you are running the installer EC2 machine from the same VPC as Paladin desired to be installed?

Thanks

[2022-08-18 13:55] estemendoza commented on #317
Hi @santhosh-challa  Thanks for the update on the EventBus stuff, but for now I am more concern on getting the destroy command to work properly.

I tried to execute it  using v1.0.2 and it keeps failing:

[code]

logs for destroy command are empty

[2022-08-22 03:55] santhosh-challa commented on #317
Can you upload the logs from the install/log directory?

[2022-08-23 10:17] rjvkumar18 commented on #361
@santhosh-challa yes the installer machine is in the same VPC. We will try to provide you the logs asap.

[2022-08-26 12:51] estemendoza commented on #317
Hi @santhosh-challa Thanks for all your help. This issue is getting longer and longer and I was wondering if you or anyone in Paladin's team would like to join a zoom meeting to tackle this, I would share screen and then we can debug this properly.

[2022-08-26 16:26] santhosh-challa commented on #317
HI @estemendoza , Sure we can do that.
Please let us know your time zone. We can do one either on Monday/Tuesday next week.

[2022-08-26 16:27] estemendoza commented on #317
I am in Spain, next Tuesday sounds good to me

[2022-08-26 17:28] santhosh-challa commented on #317
Ok. Please let us know if 4PM on Tuesday your time works.

[2022-08-26 17:30] estemendoza commented on #317
It would be better at 5PM my time, or maybe 3:30PM

[2022-08-27 02:29] santhosh-challa commented on #317
Ok, we can do 5PM your time, which is 8.30PM IST. Please share your email so that we can share meet link or we will update here before the call.

Thanks.

[2022-08-28 10:01] estemendoza commented on #317
Awesome, that works fine for me. Tuesday 5PM, my email is my username at gmail dot com

[2022-08-30 15:01] santhosh-challa commented on #317
Hi @estemendoza,

We are waiting for you the call, hope you received the invite.

[2022-09-05 00:14] kkhamruddin-pk opened #414 "Provider does not support resource: aws_cloudwatch_event_bus"
Failing at terraform stage.

<img width="626" alt="image" src="https://user-images.githubusercontent.com/33874243/188339060-5e4af18d-fc13-4131-b09c-f00e43e88381.png">

<img width="816" alt="image" src="https://user-images.githubusercontent.com/33874243/188339041-b8e5fb9c-085c-40eb-b48c-3d7123934151.png">

[2022-09-05 00:29] #414 closed

[2022-09-05 00:29] kkhamruddin-pk commented on #414
Installing the lastest version of terraform fixed the issue.

sudo yum install -y yum-utils
sudo yum-config-manager --add-repo https://rpm.releases.hashicorp.com/AmazonLinux/hashicorp.repo
sudo yum -y install terraform

[2022-09-05 04:05] kkhamruddin-pk commented on #317
I faced the same issue, Allowing traffic between the RDS and ELB (paladian app) fixed the issue.

[2022-09-05 04:14] santhosh-challa commented on #414
Hi @kkhamruddin-pk

I think you are installing the Paladin from the master branch directly. Please confirm once.
It is recommended to install from the latest stable release. Please let us know if it is not clear from our docs, we will make it clear!

We are in the process of releasing the latest release today. We plan to update the docs as soon as we make a new release.
You can also look at our co

[2022-09-05 04:45] kkhamruddin-pk opened #416 "Unable to monitor Azure Cloud in paladian cloud"
I have enabled to monitor Azure Cloud in settings/local.py and also added respective service principle attributes (clientid, secretid, tenantid) with Reader permissions to the Azure resource group.

I am unable to view the Azure cloud data and either the data is collected from the Azure cloud.

Can someone please help?

[2022-09-05 07:52] kkhamruddin-pk commented on #416
And I am using the latest tag v1.2.0 only. Any update on this?

[2022-09-05 07:56] santhosh-challa commented on #416
We just released 1.2.0 a while ago. Can you please confirm if you have installed it from the downloaded zip of 1.1.0 or from master?

[2022-09-05 08:02] kkhamruddin-pk commented on #416
I did git checkout v1.2.0 and then run the installer.

Do you want me to use v1.1.0?

[2022-09-05 08:45] kkhamruddin-pk commented on #416
@santhosh-challa

Tried installing with v1.1.0, no luck. Below are the errors

<img width="927" alt="image" src="https://user-images.githubusercontent.com/33874243/188407901-64dcf0ed-0dcc-4bd1-9fae-64d545a45de6.png">

[2022-09-05 08:52] santhosh-challa commented on #416
ok, Thanks for confirming. We have just released 1.2.0 so just want to confirm.

Also, can you please let us know why you checkout to v1.2.0 instead of installing from the latest stable release? This is to understand if there is any gap in the current documentation so that we can improve. Also can you please confirm your latest commit hash so that we can see confirm if that is the latest or not?

[2022-09-05 08:55] santhosh-challa commented on #416
I was about to update the ticket. You do not need to install from 1.1.0. I was trying to understand if you have installed from latest tested commit from 1.2.0 or not.

Can you check out to tag 1.2.0 and do
`sudo python3 manager.py redeploy`

And let us know if it is successful or not.

[2022-09-05 09:16] kkhamruddin-pk commented on #416
I have downloaded the v1.2.0 tar.gz and tried installing it. Still the same issue, unable to fetch data from Azure Cloud.

Please see the screenshot below for reference.

<img width="917" alt="image" src="https://user-images.githubusercontent.com/33874243/188414368-d5df625c-5c52-4732-8896-f2d7cbbc1add.png">

[2022-09-05 09:26] kkhamruddin-pk commented on #416
@santhosh-challa : Can we have a quick call to discuss? If yes, could you please send me the invite link.

[2022-09-05 09:28] santhosh-challa commented on #416
@kkhamruddin-pk I have a call coming up. Can we have it in the next 30 mins? (3.30PM IST)

[2022-09-05 09:34] kkhamruddin-pk commented on #416
Sure. That works for me @santhosh-challa. Once you are ready please share me the link to connect

[2022-09-05 09:34] santhosh-challa commented on #317
Hi @estemendoza ,

We have a new release https://github.com/PaladinCloud/CE/releases/tag/1.2.0
Please let me know your good time this week to schedule the installation call.

[2022-09-05 10:01] santhosh-challa commented on #416
@kkhamruddin-pk can you join this:

To join the video meeting, click this link: https://meet.google.com/zef-itjy-cru
Otherwise, to join by phone, dial +1 216-930-8259 and enter this PIN: 645 827 652#
To view more phone numbers, click this link: https://tel.meet/zef-itjy-cru?hs=5

[2022-09-05 14:29] santhosh-challa commented on #416
Summary of the call:

AWS Batch jobs are stuck at a Runnable state. As non of the jobs were completed, UI is not showing any data.
We tried to dig into the issue for about an hour and could not figure out the actual root cause. We never faced it internally. Compute can spin the EC2 machines but the jobs are not able to proceed to the Running state.

@kkhamruddin-pk This might be helpful to dig fur

[2022-09-06 06:14] santhosh-challa commented on #416
Hi @kkhamruddin-pk ,

Did you try to install Paladin again? Please let us know if you have that issue. We can try debugging further.

Thanks,
Santhosh

[2022-09-07 13:36] estemendoza commented on #317
Hi @santhosh-challa. Can you get together on Friday same time as the first meeting? Thanks

[2022-09-08 06:30] santhosh-challa commented on #317
Hi @estemendoza, Friday same time may not be possible as I have some other calls scheduled. Can we do your 3 PM on Friday? which is 6.30 PM IST. Please confirm.

[2022-09-08 13:17] estemendoza commented on #317
Yes, no problem with that new time.

[2022-09-08 21:14] SilvarisIT opened #431 "Install issue, Fails Terraform step 8"
## Microservices
- Spring boot Applications:

 - Admin Service
 - Auth Service
 - Asset Service
 - Compliance Service
 - Statistics Service
 - Notification Service

## Rule Engine

## Rules

## ETL

## Webapp

- OS Type: Windows/Linux/MacOS
- Java version:

 - 1.8

## Summary
The installer is failing during Step 8 of the Terraform plan.

debug.log tail shows
Error: aws_s3_object.lambda_submit_s3_u

[2022-09-08 21:42] SilvarisIT commented on #431
Reran the prerequisite script and things seem to be working now.  Not sure what happened the first time.

[2022-09-08 21:48] Subbu-PaladinCloud commented on #431
Hi Dave, based on our discussion, you are now set with the installation. Please provide us with your feedback.

[2022-09-09 05:39] santhosh-challa commented on #317
Thanks, I will send out an invite.

[2022-09-12 10:16] santhosh-challa commented on #317
Hi @estemendoza,

Did you try logging into UI post our call? We tried internally and UI worked fine. Please let us know if you have some time to debug this issue this week.

Thanks,
Santhosh

[2022-09-12 10:17] santhosh-challa commented on #416
Hi @kkhamruddin-pk ,

Just checking if you have tried installing the Paladin again. Please update the issue if you need any help in installing it.

Thanks,
Santhosh

[2022-09-12 14:48] santhosh-challa commented on #317
No :) We use an external load balancer internally with a certificate. I once tried without the certificate and only an external load balancer. I did get 502 once and post refreshing the browser it went away. Maybe some intermittent issue, I wanted to debug but it went away quickly. That is the reason I wanted to check with you if the error is still there.

The timeout issue may be with SG issue. c

[2022-09-12 19:48] Subbu-PaladinCloud commented on #361
Hi @rjvkumar18 , any update from you on this.. are you still having issues ?

[2022-09-19 15:48] Subbu-PaladinCloud commented on #361
Hi @rjvkumar18 , trying to follow up to see if you have any update here ?

[2022-09-19 15:49] Subbu-PaladinCloud commented on #416
Hi @kkhamruddin-pk , please let us know if you still have issues or you are able to update successfully.

[2022-09-19 15:50] Subbu-PaladinCloud commented on #431
Hi Dave, hoping that your install is complete . Please let us know if you have any product feedback on our gitter or slack channels.

[2022-09-19 16:54] estemendoza commented on #317
Hey! So, I tried last week and I still wasn't able to login correctly and I tried today and I can't access the UI, it's giving me a timeout error. Can we meet maybe Wednesday or Thursday?

[2022-09-19 18:21] Subbu-PaladinCloud commented on #317
Sure, could you please suggest some times ?

[2022-09-19 18:40] estemendoza commented on #317
Wednesday after 6PM CEST, Thursday between 5 and 7 PM CEST

[2022-09-20 17:20] Manishpandey11 commented on #317
Hi
i want to contribute in this project

[2022-09-20 17:24] Subbu-PaladinCloud commented on #317
@Manishpandey11 , great.. can you please join our slack channel on [PaladinCloud.io ](https://paladincloud.io/) and also star our repo on Github. I will DM you and we can discuss your contribution.

[2022-09-21 16:04] Subbu-PaladinCloud commented on #317
@estemendoza  we are on a call waiting for you. Are you able to join ?

[2022-09-21 18:05] estemendoza commented on #317
Hi guys, sorry I didn't join but you never confirmed me when the meeting was going to take place and I never received any meeting invitation either. Can we try tomorrow or next week?

[2022-09-21 18:14] Subbu-PaladinCloud commented on #317
Hmm.. I thought I sent an invite out.. sorry if you did not get it.. we can try and setup early next week and I will post the meeting link here in this chat. Please let me know your availability

[2022-09-22 09:18] estemendoza commented on #317
What about Monday after 4 PM CEST?

[2022-09-22 12:49] Subbu-PaladinCloud commented on #317
yes, it works, here is the link :  https://meet.google.com/kud-oqnr-waj
Monday, September 26 · 10:00 – 11:00am ET

[2022-09-22 12:56] estemendoza commented on #317
Awesome, see you on Monday

[2022-09-26 14:22] Gervasis opened #478 "ec2 instance launch fails with 20GB disk space"
## Microservices
 - Asset Service

## Rule Engine

## Rules

## ETL

## Webapp

- OS Type: Windows/Linux/MacOS
- Java version:
 - 1.9

## Summary
 _Recommended instance type: t2.large (Minimum 8GB memory and 20GB disk space) or more.

t2.large comes with 25GB and we cannot create one with 20GB.

## Reproduce steps
Launch an ec2 instance from the paladin AMI and change the volume to 20GB

## Expect

[2022-09-26 14:28] Gervasis opened #479 "Install Fails with default value for ENABLE_VULNERABILITY_FEATURE"
## Microservices
- Spring boot Applications:
 - Asset Service

## Rule Engine

## Rules

## ETL

## Webapp

- OS Type: Windows/Linux/MacOS
- Java version:
 - 1.9

## Summary
Installation fails with config value ENABLE_VULNERABILITY_FEATURE = False, which is the default one.

## Reproduce steps
Install Paladincloud without changing the value of ENABLE_VULNERABILITY_FEATURE

## Expected Results
Upda

[2022-09-26 14:36] Gervasis opened #480 "Wrong message is passed with deployment message - resources deployed ( 430)"
## Microservices
- Spring boot Applications:
 - Asset Service

## Rule Engine

## Rules

## ETL

## Webapp

- OS Type: Windows/Linux/MacOS
- Java version:
 - 1.9

## Summary
Wrong message is passed after seeing the message 430 resources are getting deployed. Customers never have an idea that this includes the rules.

## Reproduce steps
Install Paladincloud

## Expected Results
Please update the me

[2022-09-26 14:58] rnithinpaladin commented on #317
Hi @estemendoza

can you try installing latest release 1.3.0 . and while installing please delete  this "/home/ec2-user/CE/webapp/src/config/configurations.ts.new"  file

[2022-09-26 14:59] estemendoza commented on #317
Got it, does that still need me to open the sec group for the database?

[2022-09-27 11:40] rjvkumar18 commented on #361
Hi @Subbu-PaladinCloud, I tried a fresh installation of latest version of Paladin cloud, but I am getting the below errors.

Error: aws_cloudwatch_event_target.lambda_rule_engine_function_RuleEngineCloudWatchEventTargetsAws[89]: : invalid or unknown key: event_bus_name

Error: aws_cloudwatch_event_target.lambda_rule_engine_function_RuleEngineCloudWatchEventTargetsAws[8]: : invalid or unknown key:

[2022-09-27 14:44] Subbu-PaladinCloud commented on #361
Hi @rjvkumar18 , we can help you out with the install, can you let us know what is your availability ( timezone and date/time) , so we can get on a call with you to walk you thru the install.

[2022-09-27 16:23] Subbu-PaladinCloud commented on #317
@estemendoza , if you are good with your install now, please close out this ticket for now and if you find any other bugs/requests, please feel free to open a new one. Thanks.

[2022-09-27 17:08] #317 closed

[2022-09-28 15:22] Subbu-PaladinCloud commented on #416
Hi @kkhamruddin-pk , great call today.. as we have successfully deployed the instance with connections to Azure.. please close out this ticket.

[2022-09-28 15:22] Subbu-PaladinCloud commented on #416
Please join our Community Slack channel for our further engagement on this project.

[2022-09-28 15:24] kkhamruddin-pk commented on #416
Thank you so much Nithin, Subbu and Steve for taking time and resolving the issues. I really appreciate in helping to resolve all the issues.

[2022-09-29 01:01] kkhamruddin-pk opened #491 "Issues while redeploying"
[ec2-user@ip-10-0-0-89 installer]$ sudo python manager.py redeploy
############################################################
          !!!!!!! WARNING !!!!!!!
############################################################
This system works with python version 3.5 or greater.
Please create virtualenv with python3 or upgrade python

[ec2-user@ip-10-0-0-89 installer]$ python --version
Python 2.7.18

[2022-09-29 01:01] kkhamruddin-pk commented on #491
Did cp /usr/bin/python3 /usr/bin/python and the redeploy command started.

[2022-09-29 01:02] kkhamruddin-pk commented on #491
This time with other issues

<img width="948" alt="image" src="https://user-images.githubusercontent.com/33874243/192915076-d6b2b98b-8333-4626-ab93-ea5f17845cf2.png">

[2022-09-29 01:07] santhosh-challa commented on #491
Hi @kkhamruddin-pk

On the python version, we need to use python3 instead of python command. Python usually refer to 2.7 version.

On the error, can you please confirm below:

Which version was last successfully installed?

What is the current version are you trying to re deploy?

Kindly zip and provide us the installer/log directory.

Thanks.

[2022-09-29 01:08] kkhamruddin-pk commented on #491
Hi Santhosh,

I have installed the latest version 1.3.0

[2022-09-29 06:12] kkhamruddin-pk commented on #491
Shall we connect now, if you are available? Please share the link to connect.

@rnithinpaladin @santhosh-challa

[2022-09-29 06:33] rnithinpaladin commented on #491
hi @kkhamruddin-pk

Are you trying to enable https?
make ENABLE_VULNERABILITY_FEATURE = True

[2022-09-29 07:39] kkhamruddin-pk commented on #491
@rnithinpaladin

No, I am trying to enable HTTPs for ALB.

The error seems to me is a declaration error of terraform.

[2022-09-29 07:49] rnithinpaladin commented on #491
@kkhamruddin-pk  make

make ENABLE_VULNERABILITY_FEATURE = True in **local.py** file and run sudo python3 manager.py redeploy..

[2022-09-29 08:06] kkhamruddin-pk commented on #491
I don't want this vulnerability feature enabled as of now.

But as per your suggestion I have enabled it to get pass through with error and the redeploy was successful.

[2022-09-29 08:14] kkhamruddin-pk opened #494 "Unable to login with HTTPS custom domain URL"
I have enabled HTTPS for the ALB with a custom domain. I have allowed https to whole world for paladin security group that is attached to ALB. I am able to access the URL but failing to login.

<img width="347" alt="image" src="https://user-images.githubusercontent.com/33874243/192977900-4e1140c6-1df0-4aeb-9c61-52b4cd5b2333.png">

Please suggest

[2022-09-29 08:30] kkhamruddin-pk commented on #494
@rnithinpaladin : please let me know your availability so that we can connect and I can walk through the issue.

I tried allowing via VPN security group as well but still no luck

[2022-09-29 09:10] rnithinpaladin commented on #494
HI @kkhamruddin-pk

can we have call at 4.00 pm IST ?

[2022-09-29 09:48] kkhamruddin-pk commented on #494
Sure @rnithinpaladin. Please send me the invite.

[2022-09-29 11:34] #491 closed

[2022-09-29 13:02] kkhamruddin-pk commented on #494
Thanks for connecting @rnithinpaladin. Below is the summary our call.

Initial setup needs a security group rule for HTTP to be allowed to whole world in order to login to the pcloud portal. As this is not recommended, we have enabled HTTPS for the ALB with SSL Certificate for custom domain stored in AWS Certificate Manager. And updated security group of ALB and ECS containers to allow HTTPS traff

[2022-09-29 13:08] kkhamruddin-pk opened #500 "Need help to update the paladin cloud logo on portal with custom logo"
Could you please guide us to update the paladin cloud logo on portal with custom logo?

[2022-09-29 13:10] kkhamruddin-pk commented on #500
<img width="361" alt="image" src="https://user-images.githubusercontent.com/33874243/193040278-936bd674-6c76-470b-a305-9f5ccf7a9f76.png">

[2022-10-03 12:30] santhosh-challa commented on #494
Hi @kkhamruddin-pk ,

Did you try allowing HTTP for only ECS container IPs instead of the whole world?

[2022-10-03 12:34] Subbu-PaladinCloud commented on #478
The wiki will be updated to reflect the change.

[2022-10-03 12:35] Subbu-PaladinCloud commented on #431
Hi Dave, can you provide any updated here whether you would need help with install or you are good with the install.. if so, please feel free to provide us with the product feedback.

[2022-10-03 12:37] Subbu-PaladinCloud commented on #479
This is fixed in our latest release. @rnithinpaladin , please confirm.

[2022-10-03 12:39] Subbu-PaladinCloud commented on #480
Thanks for this suggestion, This change will be taken in our future Installer updates. Modifying the label to Enhancement.

[2022-10-03 12:44] rnithinpaladin commented on #479
This will be fixed in next release

[2022-10-14 04:37] santhosh-challa commented on #479
This has been fixed and released as part of 1.4.0

[2022-10-14 04:37] #479 closed

[2022-10-17 07:44] SohamLawar opened #551 "Despite the setup being complete, I cannot access the Paladin Cloud"
# ❔ Question
Despite the setup being complete, I cannot access the Paladin Cloud

## 🔦 Context

I am exploring Paladin Cloud.

I followed the installation instructions provided in the following documentation -

https://github.com/PaladinCloud/CE/wiki/Installation

1) After installation is complete I received the following message.
## 💻 Code Sample

    *********************************************

[2022-10-17 09:48] santhosh-challa commented on #551
Hi @SohamLawar ,

From the installation banner, you have used an internal load balancer. Can you please let us know how you are connecting to UI? It is only accessible inside of VPC.

We are updating our docs right now, we will fix the broken links.

[2022-10-17 10:04] SohamLawar commented on #551
1)
I am connecting to UI from the browser of my local system.
How to access UI inside of VPC?
2) Okay, Thanks

[2022-10-17 11:57] SohamLawar commented on #551
How to configure installation banner to use a public load balancer?

[2022-10-17 12:22] Subbu-PaladinCloud commented on #551
How to access UI inside of VPC?

Please setup a windows VM in that same VPC and from within a browser on that VM ,  use the Paladin URL provided at the end of the install using with the credentials provided.

[2022-10-17 13:00] SohamLawar commented on #551
Hello @Subbu-PaladinCloud ,
Thanks for quick response.
Can you please provide a document/link that would be helpful for me to create a windows VM in that same VPC?
Is there any alternative?

[2022-10-17 14:20] Subbu-PaladinCloud commented on #551
We are in the process of updating our documentation to include this information. However, for now , please follow these steps.
1) In the VPC where you have the Paladin Installed , please launch a windows instance ( Small is fine)
2) Set up the RDP access using the keys
3) Ensure you get the password using the keys from the prev step
4) connect to the windows VM
5) open a browser ( Chrome/Edge) , a

[2022-10-18 02:31] rnithinpaladin commented on #551
hi @SohamLawar

https://docs.aws.amazon.com/vpn/latest/clientvpn-admin/cvpn-getting-started.html

if like to setup vpn please follow above document

[2022-10-18 04:53] SohamLawar commented on #551
Hello @Subbu-PaladinCloud ,
Thanks for the response.
The steps that you instructed for launching a windows VM worked for me.

[2022-10-18 04:54] rjvkumar18 commented on #361
Hi @Subbu-PaladinCloud , sorry for the delayed response. I will check and let you know.

[2022-10-18 04:55] SohamLawar commented on #551
Hello @rnithinpaladin ,
Let me check this and get back to you.
Which of the above alternative (Windows VM  vs VPC) is more cost efficient?

[2022-10-18 05:14] rnithinpaladin commented on #551
Hi @SohamLawar
Spinning windows vm is easy way.

[2022-10-18 05:26] Subbu-PaladinCloud commented on #551
Cool good to hear that you are able to access, Please let us know on how we you plan to use the product, in other words which Cloud resources are you looking to monitor, manage.. This will help us to guide better. We can get on a call to support your use case if that is required

[2022-11-01 19:28] Subbu-PaladinCloud commented on #551
@SohamLawar , do you have any feedback for us based on your use of the product ?

[2022-11-08 19:31] Subbu-PaladinCloud commented on #361
Hi Rajeev, based on our email discussion ( along with Ajit) , I assume your issues are resolved and we can close this ticket.  Thanks.

[2022-11-08 19:31] #361 closed

[2022-11-08 19:31] Subbu-PaladinCloud commented on #478
The documentation is updated to reflect this change.

[2022-11-08 19:31] #478 closed

[2022-11-08 19:33] Subbu-PaladinCloud commented on #551
Based on the feedback earlier, this issue is resolved, please feel free to open a new issue if you have any additional problems.

[2022-11-08 19:33] #551 closed

[2022-11-08 19:35] Subbu-PaladinCloud commented on #431
Hi Dave, closing this ticket at this point, please feel free to create a new issue as needed.

[2022-11-08 19:35] #431 closed

[2022-11-08 19:36] Subbu-PaladinCloud commented on #494
@kkhamruddin-pk , my understanding is that you are all set with the deployment. Please feel free to open a new issue if you have any other situations with Paladin Cloud.

[2022-11-08 19:36] #494 closed

[2022-11-11 09:25] SohamLawar commented on #551
No, we have not used the application yet. I will definitely provide feedback once we use this application.

[2022-11-11 09:26] SohamLawar commented on #551
@Subbu-PaladinCloud ,
Okay, Thanks